@tailwind base;
@tailwind components;
@tailwind utilities;

@media (max-width: 320px) {
  .relative.mx-auto.rounded-full.w-80.h-80.overflow-hidden.mt-10 {
    width: 50%;
    margin: 0 auto;
  }
}

@media (max-width: 375px) {
  .relative.mx-auto.rounded-full.w-80.h-80.overflow-hidden.mt-10 {
    width: 100%;
    margin: 0 auto;
  }
}

@media (max-width: 1440px) {
  .bg-gradient-to-r
    .from-yellow-300
    .to-yellow-100
    .text-black
    .font-medium
    .px-5
    .py-3
    .rounded-md {
    width: 1440px;
    margin: 0 auto;
  }
}
